#app {
  padding-top: calc(1rem + var(--edger-safe-area-inset-top))!important;
}
body {
  background-color: rgb(244, 235, 224);
}

p, div, ul, li, nav, base, body, article, aside, header, h1, h2, h3, h4, h5, h6, main, section {
  margin: 0;
  padding: 0;
}
